* {
    box-sizing: border-box
}

h1 {
    display: flex;
    justify-content: center;
}

/*.coffee {*/
/*    font-weight: bolder;*/
/*    font-size: 2rem;*/
/*}*/
.coffeeHouse {
    display: flex;
    flex-direction: column;
}


