

:root {
    --bg-color: #eee7e5;
    --bgCardColor: tan;
}
.headerWithPicture {
    display: flex;
    justify-content: center;
    align-items: center;

}

.coffeeCup {
    height: 50px;
}
.coffee {
    background: var(--bgCardColor);

}

body {
    font-family: sans-serif;
    background: var(--bgCardColor)
}

#coffees {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
}

h1 {
    text-align: center;
}

.btn {
    width: 100%;
}

.coffee-name {
    font-size: 24px;
}

.coffee-roast {
    color: black;
    padding-left: 8px;
    font-size: 18px;
    padding-top: 7px;
    margin-right: 150px;
}

.right-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 220px;
    font-size: 22px;
}

h1 {
    padding-top: 50px;
    padding-bottom: 40px;
}


#roast-selection {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#submit {
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}


