

:root {
    --bg-color: #eee7e5;
    --bgCardColor: tan;
}
.headerWithPicture {
    display: flex;
    justify-content: center;
    align-items: center;

}
.card {
    display: flex;
    border: none;
    font-family: 'Passion One', cursive;
    text-align: center;

}

.coffeeCup {
    height: 50px;
}
.coffee {
    background: var(--bgCardColor);

}

body {
    font-family: sans-serif;
    background: var(--bgCardColor)
}

#coffees {
    display: flex;
    flex-wrap: wrap;
}

/*.container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 0;*/
/*}*/

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 40px;

}
label {
    font-family: 'Montserrat', sans-serif
}

.btn {
    width: 100%;
}

.coffee-name {
    font-size: 24px;
}

.coffee-roast {
    color: black;
    /*padding-left: 8px;*/
    font-size: 18px;
    /*padding-top: 7px;*/
    /*margin-right: 150px;*/
}

.right-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 220px;
    font-size: 22px;
}

/*#right-side {*/

/*}*/

#roast-selection {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#submit {
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}


